@model QuickPic.Web.Models.AuthenticationViewModel

<div class="row pt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
        {
            <div class="card">
                <div class="card-body">
                    <div>
                        <label>Username:</label>
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                        <div><small>@Html.ValidationMessageFor(x => x.Username, string.Empty, new { @class = "text-danger" })</small></div>
                    </div>
                    <div>
                        <label>Password:</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                        <div><small>@Html.ValidationMessageFor(x => x.Password, string.Empty, new { @class = "text-danger" })</small></div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type="submit">
                        Log In
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3"></div>
</div>